@import "styles/style.css";



*{
  background-image: none !important;
}

.postarea{
  height: 1000px;
  gap: 40px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-top: 50px;

}

#editbutton{
  color:blue;
  margin-left: 100px;
  margin-top: -50px;
}