@import "styles/style.css";



*{
  background-image: none !important;
}

.postarea{
  height: 500px;
  gap: 40px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-top: 100px;
  width: 800px;
  transform-style: preserve-3d;
}

.postarea::before{
  content: "";
  position: absolute;
  inset: -5px;
  transform: translate3d(5px, 10px, -10px); /* (X, Y, Z) */
  background: orange;
  filter: blur(10px);
}

#editbutton{
  color:blue;
  margin-left:100px;
}

#deletebutton{
  color: red;
  position: absolute;
    margin-left: -20px;
}


#sidebar{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:5px;
  font-size:24px;
  width: 200px;
  height: 400px;
  position: absolute;
  margin-left: 130px;
  border-radius: 5px;
  margin-top: 150px;
}

#posts{
  border: 4px solid black;
  height: 100px;
  border-radius: 5px;
  align-items: center;
  cursor:pointer;
}

#projects{
  border: 4px solid black;
  height: 100px;
  border-radius: 5px;
  cursor:pointer;
}

#users{
  border: 4px solid black;
  height: 100px;
  border-radius: 5px;
  cursor:pointer;
}

#posts:hover,#users:hover,#projects:hover{
  transition: 0.3s;
  color:orange;
}

#searchbar{
  position:absolute;
  margin-left:500px;
}