*{
    padding: 0;
    margin: 0;
   
}

body{
    background-image: url("../images/avengers_infinity_war_4k_8k.jpg");
    background-size: cover;
}

#navbar{
    width: 100%;
    height: 200px;
    background-color: white;
}

ul{
    cursor: pointer;
}

#registerAndlogin{
    display:flex; 
    margin-right:100px; 
    gap:10px; 
    text-decoration:none; 
    list-style-type:none;
    font-size: 26px;
}

.text{
    justify-content: center;
}



#logo:hover{
    color: orange;
    
}

.maincontent{
    color:white;
    font-size: 24px;
    width:700px;
    margin-top: 10vh;
    height: 1000px;
    display:block;
    margin-left: auto;
    margin-right:auto;
    border: 4px solid;
    display: flex;
    flex-direction: column;
    background-color: #ffb703;
    border-radius: 10px;
    padding: 10px;
}

.text{
    color: #3a86ff;
    font-size:16px;
}

#btn{
    position: absolute;
    margin-left: 900px;
    background-color: orange;
    height: 60px;
    border-radius: 5px;
    width: 100px;
    color: white;
    /* height: 30px; */
    margin-top: 25px;
}

.textarea{
    width: 600px;
  height: 400px;
  gap:40px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  margin-left:auto;
  margin-right:auto;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-top: 50px;
}

#title{
    position:absolute;
    margin-bottom: -1000px;
}

#submitbtn{
    
    background-color: orange;
    border-radius: 5px;
    width: 100px;
    color: white;
    /* height: 30px; */
    margin-top: -20px;
}

#savebutton{
    background-color: blue;
    border-radius: 5px;
    width: 100px;
    color: white;
    height: 30px;
    margin-top: -25px;
    position: absolute;
    margin-left: 370px;
}

#cancelbutton{
    background-color: red;
    border-radius: 5px;
    width: 100px;
    color: white;
    height: 30px;
    margin-top: -5px;
    position: absolute;
    margin-left: 260px;
}


.popup .overlay{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
}

.popup .content{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:450px;
    height:220px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
}

.popup .close-btn{
    position: absolute;
    right:20px;
    width:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight: 600px;
    line-height: 30px;
    text-align:center;
    border-radius:50%;

}

.popup.active .overlay{
    display:block;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);

}